@{
    ViewData["Title"] = "NBA";
}


<body id="homePage">
    <div class="text-center" id="homediv">
        <h1 class="h1 display-1 text-start text-white">Welcome!</h1>
        

    </div>
    


    <div class="row">
        <div class="col-sm-5">
            <div class="text-primary">
                <p class="h2 text-start text-white font-monospace ">Want to keep a track record of the career points per game of your favourite player?</p>
            </div>
        </div>
    </div>
   
</body>