@{
    ViewData["Title"] = "NBA";
}


<body id="homePage">
    <div class="text-center" id="homediv">
        <h1 class="display-4 font-weight-bold">Welcome</h1>
        <p class="font-weight-bold text-center ">Want to keep a track record of the career points per game of your favourite player?</p>

    </div>
</body>