html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table.sortable th:hover{
    cursor: pointer;
}

.sorttable_nosort :hover{
    cursor: default !important;
}

#homePage {
    
    background-image: url("https://images8.alphacoders.com/108/thumb-1920-1084924.png")
    
}
#homediv{
    font-size: 30px;
    font-weight:bolder;
}
#footer{
    font-size: 20px;
    font-weight:500;
}